@use '../../scss/' as *;

.series-card {
	min-width: 0;

	a {
		@include flex(unset, space-between, column);
		gap: 1rem;
	}

	p {
		font-size: $p-size;
	}

	&__image {
		border-radius: $border-radius;
		position: relative;

		img {
			vertical-align: top;
			border-radius: $border-radius;
			aspect-ratio: 2 / 3;
			object-fit: cover;
		}
	}

	&__caption {
		h3 {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:hover {
				color: $main-color;
			}
		}
	}
}
