@use '../../scss/' as *;

.series-card {
	min-width: 0;

	a {
		@include flex(unset, space-between, column);
		gap: 1rem;
	}

	p {
		font-size: $p-size;
	}

	&__image {
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: $border-radius;
		aspect-ratio: 2 / 3;
	}

	&__caption {
		h3 {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:hover {
				color: $main-color;
			}
		}
	}
}
