.vscode/
back-end/.flaskenv
back-end/data/*.log
back-end/data/networks.csv
back-end/data/people.csv
back-end/data/production_companies.csv
back-end/data/series.csv
back-end/data/series_ready.csv
back-end/scripts/
front-end/node_modules/
front-end/package-lock.json
kaggle-dataset/
front-end/build/