.vscode/

back-end/__pycache__/
back-end/env/
back-end/venv/
back-end/.flaskenv

back-end/data/*.log
back-end/data/networks.csv
back-end/data/people.csv
back-end/data/production_companies.csv
back-end/data/series.csv
back-end/data/series_ready.csv

back-end/scripts/
kaggle-dataset/

front-end/node_modules/
front-end/package-lock.json
front-end/.env
front-end/build/
