$body-bg: #141414;
$main-color: #b490e4;
$txt-color: #f2eef7;

$white: #fff;
$black: #1d1d1d;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 7rem;
$header-shrink-height: 5rem;
$border-radius: 0.5rem;

$mobile-width: 600px;
$tablet-width: 1024px;
$medium-tablet-width: 750px;

$p-size: 1rem;
$h1-size: 3rem;
$h2-size: 2rem;
$h3-size: 1.5rem;
$h4-size: 1.2rem;
$header-icon-size: 2.3rem;
$nav-link-size: 1.3rem;

$font-family: 'Space Mono', monospace;
